---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import Footer from "../components/Footer/Footer.astro";
import figmaNivo from "../assets/figmaNivo.png";
import astroNivo from "../assets/astroNivo.png";
---

<Layout
  title="Nivo POS - Proyecto Grupal SaaS | Ignacio Weppler"
  description="Nivo POS es un sistema Punto de Venta avanzado desarrollado como solución SaaS multi-tenant. Ignacio Weppler participó como Front-End Developer."
  url="https://ignacioweppler.vercel.app/proyecto5"
  image={astroNivo.src}
>
  <Navbar />
  <section class="containProject" transition:animate="fade">
    <div class="contain-titlesProject">
      <div class="titlesProject">
        <small transition:animate="fade">Proyecto grupal - Bootcamp Soy Henry</small>
        <h1 transition:animate="fade">Nivo POS</h1>
        <p transition:animate="fade">SaaS de ventas, gestión de stock y empleados.</p>
      </div>
    </div>
    <div class="contain-bodyProject">
      <div class="bodyProject">
        <p>
          <strong>Proyecto final del bootcamp de Henry</strong>, desarrollado en equipo como solución SaaS para puntos de venta. 
          El sistema Nivo POS permite una gestión integral de negocios, incluyendo administración, analítica, auditoría financiera, catálogo de productos, ventas, usuarios, membresías y pagos electrónicos.
        </p>
        <img
          src={figmaNivo.src}
          alt="Vista previa del proyecto Nivo POS desarrollado por Ignacio Weppler"
        />

        <p>
          Como <strong>Front-End Developer</strong>, mis principales responsabilidades fueron:
        </p>
        <ul>
          <li>✔ Implementación del sistema de autenticación (local y externo), con tres niveles de acceso según roles.</li>
          <li>✔ Coordinación con backend para definir endpoints clave y su integración en el cliente.</li>
          <li>✔ Desarrollo completo del flujo de usuario, priorizando la experiencia de navegación.</li>
          <li>✔ Comunicación en tiempo real con <strong>Socket.IO</strong> para mensajería interna y notificaciones push.</li>
          <li>✔ Diseño y desarrollo de la <strong>landing page</strong> del producto utilizando <strong>Astro</strong>, optimizando SEO y tiempos de carga.</li>
        </ul>

        <br />

        <p>
          El resultado fue una aplicación robusta, moderna y escalable, capaz de adaptarse a múltiples clientes (multi-tenant), con un enfoque claro en usabilidad y eficiencia operativa.
        </p>

        <img
          src={astroNivo.src}
          alt="Segunda vista previa de Nivo POS, desarrollado por Ignacio Weppler"
        />


        <div class="left-0 w-full">
          <p class="left-0"><strong>Tecnologías utilizadas</strong><br/> Astro · Next.js · Tailwind · Socket.IO</p>
          <br/>
          <p><strong>Deploy:</strong><br/> 
          <a href="https://nivo-blush.vercel.app/" target="_blank" rel="noopener">Landing Page</a><br/>
          <a href="https://nivoapp.vercel.app" target="_blank" rel="noopener">Aplicación Nivo POS</a> 
        </p>
        <br/>
        <p><strong>Repositorios:</strong><br/>
          <a href="https://github.com/DreamTeeam/Nivo" target="_blank" rel="noopener">Landing Page</a><br/>
          <a href="https://github.com/DreamTeeam/front" target="_blank" rel="noopener">Front</a> 
        </p>
      </div>

      </div>
    </div>
  </section>
  <Footer />
</Layout>
