---
import Navbar from "../components/Navbar/Navbar.astro";
import Footer from "../components/Footer/Footer.astro";
import Layout from "../layouts/Layout.astro";
import uno from "../assets/uno.png";
---

<Layout
  title="Club Atlético Tostado - Proyecto | Ignacio Weppler"
  description="Transformación digital del Club Atlético Tostado. Aplicación web con noticias, gestión de socios y calendario de actividades."
  url="https://ignacioweppler.vercel.app/proyecto1"
  image={uno.src}
>
  <Navbar />
  <section class="containProject">
    <div class="contain-titlesProject">
      <div class="titlesProject">
        <small> Tercer Proyecto</small>
        <h1>Club Atletico Tostado</h1>
        <p>Digitalizando el corazón deportivo de la región</p>
      </div>
    </div>
    <div class="contain-bodyProject">
      <div class="bodyProject">
        <p>
          El Club Atlético Tostado, el club más emblemático y grande de la zona,
          carecía de una presencia digital acorde a su prestigio. Identifiqué
          esta necesidad y desarrollé una solución integral que transformó la
          forma en que el club se conecta con sus socios, jugadores y la
          comunidad.
        </p>
        <img
          src={uno.src}
          alt="Vista previa del proyecto Club Atlético Tostado"
        />
        <p>
          Los objetivos del proyecto fueron; brindar información centralizada
          sobre horarios, actividades y eventos, permitir la publicación
          dinámica de noticias y novedades del club, y por último, facilitar la
          interacción con los socios, ofreciendo un espacio para que puedan
          registrarse y pagar la mensualidad en línea de manera ágil y segura.
        </p>
        <br />
        <h3>Caracteristicas Principales</h3>
        <ul>
          <li>
            Interfaz intuitiva y funcional: Pensada tanto para socios como para
            visitantes.
          </li>
          <li>
            Sistema de noticias: Actualización rápida de novedades, con una
            estructura adaptable y fácil de gestionar por el personal del club.
          </li>
          <li>
            Portal para socios: Registro de usuarios, gestión de membresías y
            pagos de cuotas online.
          </li>
          <li>
            Horarios y actividades deportivas: Calendarios interactivos con
            información de entrenamientos, eventos y competiciones.
          </li>
        </ul>

        <img
          src={uno.src}
          alt="Vista previa del proyecto Club Atlético Tostado"
        />
        <p>
          Este sitio web no solo modernizó la presencia digital del club, sino
          que también simplificó procesos administrativos, mejoró la
          comunicación con los socios y posicionó al Club Atlético Tostado como
          una institución moderna e innovadora en la región.
        </p>
      </div>
    </div>
  </section>
  <Footer />
</Layout>
