---
import Navbar from "../components/Navbar/Navbar.astro";
import Footer from "../components/Footer/Footer.astro";
import Layout from "../layouts/Layout.astro";
import dos from "../assets/dos.png";
---

<Layout
  title="El Trampozo - Proyecto | Ignacio Weppler"
  description="Juego de mesa El Trampozo. Aplicación web promocional del juego de mesa El Trampozo."
  url="https://ignacioweppler.vercel.app/proyecto2"
  image={dos.src}
>
  <Navbar />
  <section class="containProject">
    <div class="contain-titlesProject">
      <div class="titlesProject">
        <small>Website promocional del juego de mesa.</small>
        <h1>El Trampozo</h1>
        <p>
          El Trampozo es un innovador juego de mesa que fusiona estrategia,
          diversión y competitividad.
        </p>
      </div>
    </div>
    <div class="contain-bodyProject">
      <div class="bodyProject">
        <p>
          Para su comunidad de jugadores, desarrollé una página web interactiva
          donde pueden conocer todo sobre el juego y mantenerse al tanto de las
          últimas novedades. En este espacio digital, los usuarios pueden
          consultar las reglas detalladas del juego, acceder a información
          actualizada sobre próximos eventos y competiciones, y ver fotos de
          partidas anteriores que capturan la emoción y la dinámica del juego.
        </p>
        <img
          src={dos.src}
          alt="Vista previa del proyecto juego de mesa El Trampozo que realizo Ignacio, desarrollador freelancer argentino"
        />
        <p>
          La web no solo ofrece una plataforma para aprender sobre el juego,
          sino que también crea un punto de encuentro para la comunidad,
          facilitando la organización de eventos y torneos. Con un diseño
          intuitivo y accesible, los visitantes pueden navegar fácilmente entre
          las secciones de reglas, eventos y fotos, haciendo que su experiencia
          sea aún más envolvente. El sitio está construido para fomentar la
          interacción, mantener la comunidad conectada y ofrecer una experiencia
          online completa para los fanáticos del juego.
        </p>
        <img
          src={dos.src}
          alt="Vista previa del proyecto juego de mesa El Tramposo que realizo Ignacio, desarrollador freelancer argentino"
        />
        <p>
          El Trampozo es un juego de mesa innovador, y para su comunidad, creé
          una página web que alberga las reglas del juego, información sobre los
          próximos eventos y fotos de partidas. Con un diseño accesible, la web
          permite a los usuarios mantenerse informados y conectados, facilitando
          la participación en torneos y la interacción con otros jugadores.
        </p>
      </div>
    </div>
  </section>
  <Footer />
</Layout>
