---
import uno from "../../assets/uno.png";
import dos from "../../assets/dos.png";
import tres from "../../assets/tres.png";
import cuatro from "../../assets/cuatro.png";
import modulo4Henry from "../../assets/modulo4Henry.png";
import astroNivo from "../../assets/astroNivo.png";
import courtify from "../../assets/courtify.png";
import { t, getValidLang } from '../../utils/i18n';

const { lang } = Astro.params;
const langCode = getValidLang(lang);

const proyectos = [
  {
    nombre: "Club Atlético Tostado",
    imagen: tres,
    descripcion: t(langCode, "works.desc-club")
  },
  {
    nombre: "El Trampozo",
    imagen: dos,
    descripcion: t(langCode, "works.desc-trampozo")
  },
  {
    nombre: "Ecommerce Apple",
    imagen: modulo4Henry,
    descripcion: t(langCode, "works.desc-ecommerce")
  },
  {
    nombre: "Beta & Omega",
    imagen: uno,
    descripcion: t(langCode, "works.desc-beta")
  },
  {
    nombre: "Nivo POS",
    imagen: astroNivo,
    descripcion: t(langCode, "works.desc-nivo")
  },
  {
    nombre: "Courtify",
    imagen: courtify,
    descripcion: t(langCode, "works.desc-courtify")
  }
];
---

<section id="proyectos" class="flex flex-col items-center w-full" style="padding: 8px; padding-bottom: 10rem">
  <div class="mb-6">
    <h3 class="text-3xl font-bold text-white">{t(langCode, "works.title")}</h3>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 p-4">
    {proyectos.map((proyecto, i) => (
      <div>
        <a href={`/Proyecto${i + 1}`}>
          <div class="relative w-full aspect-[1.2/1] min-h-[327px] rounded-2xl overflow-hidden cursor-pointer group">
            <div class="absolute inset-0 bg-black/70 backdrop-blur-sm opacity-0 group-hover:opacity-100 transition-opacity duration-400 rounded-2xl z-10"></div>

            <div class="absolute top-3 right-3 z-20 opacity-0 group-hover:opacity-100 transform group-hover:scale-100 scale-95 transition duration-300">
              <div class="w-[42px] h-[42px] bg-[var(--second)] border-2 border-[var(--second)] rounded-full flex items-center justify-center">
                <i class="ri-arrow-right-up-line text-[var(--background)] text-xl"></i>
              </div>
            </div>

            <img
              src={proyecto.imagen.src}
              alt={`proyecto ${proyecto.nombre}`}
              loading="lazy"
              class="w-full h-full object-cover rounded-2xl"
            />

            <div class="absolute bottom-5 left-5 opacity-0 group-hover:opacity-100 transform group-hover:translate-y-0 translate-y-2 transition duration-400 z-20">
              <h5 class="text-[1.7rem] font-semibold text-[var(--second)] mb-2">
                {proyecto.nombre}
              </h5>
              <small class="text-[1.1rem] text-[var(--second)]">{proyecto.descripcion}</small>
            </div>
          </div>
        </a>
      </div>
    ))}
  </div>
</section>

