.firstPart {
  min-height: 100vh;
  width: 70%;
  margin: auto;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  color: var(--second);
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 37px;
  padding-bottom: 50px;
  text-align: center;
}

.containerServices {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}
.containerServices p {
  color: var(--textColor);
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.8;
}

.spanAboutMe {
  color: var(--second);
  font-weight: 400;
  font-style: italic;
}

.linkCTA {
  position: relative;
  display: inline-block; 
  color: var(--second);
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  transition: color 0.3s ease;
}

.linkCTA:hover {
  color: var(--mainColor);
  --stroke: var(--mainColor);
  --stroke-delay: 0.1s;
  --offset: 180px; 
}

.underlineSVG {
  width: 240px; 
  height: auto;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 10px) translateZ(0); 
  fill: none;
  stroke: var(--stroke, var(--second));
  stroke-linecap: round;
  stroke-width: 1.5px;
  stroke-dasharray: var(--offset, 69px) 278px; 
  stroke-dashoffset: 361px;
  pointer-events: none;
  transition: stroke 0.15s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}



.wrapperIcons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  justify-items: center;
  margin-top: 7rem;
  width: 100%;
}

@media (max-width: 426px) {
  .firstPart {
    width: 95%;
  }
  .wrapperIcons {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}

.wrapperIcons i {
  aspect-ratio: 1/1.2;
  padding: 5px;
  font-size: 3.2rem;
  color: var(--first);
  transition: color 0.4s ease, transform 0.8s ease;
}

/* Ícono específico que recibe hover */
.wrapperIcons i:hover {
  color: var(--second);
  opacity: 1;
  z-index: 1;
}
